---
import { Profile } from "../../api/models";
import FollowButton from "../buttons/FollowButton.astro";

const isLoggedInUser = Astro.props.isLoggedInUser as boolean;
const { profile } = (await Astro.props.profile) as { profile: Profile };
console.log(profile);
---

<div class="user-info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <img src={profile?.image ?? ""} class="user-img" />
        <h4>{profile?.username ?? ""}</h4>
        <p>
          {profile?.bio ?? ""}
        </p>
        {
          !isLoggedInUser ? (
            <FollowButton following={profile.following} username={profile.username} />
          ) : (
            <a href="/settings">
              <button class="btn btn-sm btn-outline-secondary action-btn">
                <i class="ion-gear-a" />
                &nbsp; Edit Profile Settings
              </button>
            </a>
          )
        }
      </div>
    </div>
  </div>
</div>
