---
import { type ProfileDTO } from "../../api/api";
import Maybe from "../common/Maybe.astro";
import ProfileFollowButton from "./ProfileFollowButton.astro";
export type Props = {
  profile: Promise<ProfileDTO>;
  isLoggedInUser: Promise<boolean>;
};
const isLoggedInUser = await Astro.props.isLoggedInUser;
const { profile } = await Astro.props.profile;
console.log(profile);

---

<div class="user-info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <img src={profile?.image ?? ''} class="user-img" />
        <h4>{profile?.username ?? ''}</h4>
        <p>
          {profile?.bio ?? ''}
        </p>

        <Maybe condition={!isLoggedInUser}>
          <ProfileFollowButton username={profile?.username ?? ''}/>
        </Maybe>
        <Maybe condition={isLoggedInUser}>
          <a href="/settings">
            <button class="btn btn-sm btn-outline-secondary action-btn" >
              <i class="ion-gear-a"></i>
               &nbsp; Edit Profile Settings
            </button>
          </a>
        </Maybe>
      </div>
    </div>
  </div>
</div>


<script>

</script>