---
import { Api } from "../../api/api";
import Layout from "../../components/Layout.astro";
import ArticlePreview from "../../components/home/ArticlePreview.astro";
import ProfileBanner from "../../components/profile/ProfileBanner.astro";
import { JwtManager } from "../../js/utils/jwt-manager";
const { username = ''} = Astro.params
const profile = Api.getProfile(username)
const isLoggedInUser = Api.getLoggedInUser(JwtManager.serverSide.read(Astro) ?? '').then(it => it.user?.username == username)
const isFavorites = Astro.url.searchParams.get('favorite') == 'true'
const articles = isFavorites ? Api.getArticles({favorited: username}) : Api.getArticles({author: username})
---

<Layout>
  <div class="profile-page">
    <ProfileBanner isLoggedInUser={isLoggedInUser} profile={profile}/>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <div class="articles-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <a class={isFavorites ? "nav-link" : "nav-link active"} href="?favorite=false">My Articles</a>
              </li>
              <li class="nav-item">
                <a class={isFavorites ? "nav-link active" : "nav-link"} href="?favorite=true">Favorited Articles</a>
              </li>
            </ul>
          </div>
  
          <ArticlePreview articles={articles}/>

        </div>
      </div>
    </div>
  </div>
</Layout>