---
import Layout from "../components/Layout.astro";
import TagContainer from "../components/home/TagContainer.astro"
import Banner from "../components/home/Banner.astro";
import Tabbar from "../components/home/Tabbar.astro";
import ArticlePreview from "../components/home/ArticlePreview.astro";
import Pagination from "../components/home/Pagination.astro";

---
<Layout>
  <div class="home-page">
    <Banner/>

    <div class="container page">
      <div class="row">
        <div class="col-md-9">
          <Tabbar/>
          <ArticlePreview/>
          <Pagination/>
        </div>
        <TagContainer/>
      </div>
    </div>
  </div>
</Layout>