---
import Layout from "../components/layouts/Layout.astro";
import { RealworldResult } from "../api/models";
import { CookieHelperImpl } from "../utils/cookies";
import Error from "../components/common/Error.astro";
import { loginUser } from "../api/api";

let errors: RealworldResult<any>["errors"] | undefined;

if (Astro.request.method == "POST") {
  const formData = await Astro.request.formData();
  const email = formData.get("email") as string;
  const password = formData.get("password") as string;

  const res = await loginUser({ email, password });
  if (res.user) {
    CookieHelperImpl.setUser(Astro.cookies, res.user);
    return Astro.redirect("/");
  } else errors = res.errors;
}
---

<Layout>
  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign in</h1>
          <p class="text-xs-center">
            <a href="/register">Need an account?</a>
          </p>

          {errors && <Error errors={errors} />}

          <form method="post">
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="Email" name="email" />
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="password" placeholder="Password" name="password" />
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</Layout>
