---
import type { TagDTO } from "../../api/api";
import TagList from "./TagList.astro";
export type Props = { tags: Promise<TagDTO> };
const {tags} = await Astro.props.tags;
---

<div class="col-md-3">
  <div class="sidebar">
    <p>Popular Tags</p>
    {tags && <TagList tags={tags}/>}
  </div>
</div>
