---
import type { TagDTO } from "../../api/api";
export type Props = { tags: TagDTO['tags'] };
const { tags } = Astro.props;
---

<div class="tag-list">
  {
    tags.map((tag) => (
      <a href={`/?tag=${tag}`} class="tag-pill tag-default">
        {tag}
      </a>
    ))
  }
</div>
